html, body 
{
	background-color: #c0c0c0;
	background: url('img/bgmain.jpg') center;
	color: #433f3d;
	font-family: Palatino Linotype, Garamond, Serif;
	margin: 0px;
}

.container
{
	background: url('img/bgcontainer.gif') repeat-y;
	width:780px;
	border-left: solid 1px Black;
	border-right: solid 1px Black;
	height: 185px;
	margin: 0 auto;
}

.menu
{
	background: url('img/bgmenu.gif') repeat-x;
	height: 30px;
	margin: 0 auto;
	border-top: solid 1px Black;
}

.menulink
{
	height: 25px;
	padding: 3px 20px 0px 20px;
	color: #410401;
	text-align: center;
	font-family: Palatino Linotype, Garamond, Serif;
	font-weight:bolder;
	font-size: small;
	display: inline-block;
	text-decoration: none;
	border-left: solid 1px black;
	border-right: solid 1px black;
	margin-left: -5px;
}

a.menulink:link
{
	text-decoration: none;
}
a.menulink:visited
{
	text-decoration: none;
}

a.menulink:hover
{
	text-decoration: none;
	background-color: #B6A79E;
}

.hovermenu
{
	font-size: small;
	height: 25px;
	width: 185px;
	padding: 5px 0px 5px 10px;
	border: solid 1px black;
}

.header
{
	
	background: url('img/headline_beta.jpg');
	width: 780px;	
	height: 75px;
}

.clear
{
	clear: both;	
}
