<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Phoenix___Auto_IRF_Processing_File_Lookup.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <userSettings>
        <Phoenix___Auto_IRF_Processing_File_Lookup.My.MySettings>
            <setting name="SQLAddress" serializeAs="String">
                <value>172.16.8.15</value>
            </setting>
            <setting name="phxSQLConn" serializeAs="String">
                <value />
            </setting>
            <setting name="IRFDirectory" serializeAs="String">
                <value>Z:\IRF\No Change\</value>
            </setting>
        </Phoenix___Auto_IRF_Processing_File_Lookup.My.MySettings>
    </userSettings>
</configuration>