<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Phoenix___Server.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Phoenix___Server.My.MySettings.PhoenixCaseDataConnectionString1"
            connectionString="Data Source=172.16.8.15\PHOENIX;Initial Catalog=PhoenixData;Persist Security Info=True;User ID=PhoenixUser;Password=password"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Phoenix___Server.My.MySettings>
            <setting name="ServerAddress" serializeAs="String">
                <value>172.16.8.15</value>
            </setting>
            <setting name="IMPSDirectory" serializeAs="String">
                <value>C:\TestCases</value>
            </setting>
            <setting name="MediDirectory" serializeAs="String">
                <value>U:\GUOPTS\</value>
            </setting>
            <setting name="MediDropDirectory" serializeAs="String">
                <value>Phoenix OPTs</value>
            </setting>
            <setting name="MediOperator" serializeAs="String">
                <value>R94LEVI</value>
            </setting>
            <setting name="MediPassword" serializeAs="String">
                <value>SILLY3</value>
            </setting>
            <setting name="IMPSOperator" serializeAs="String">
                <value>16A215</value>
            </setting>
            <setting name="IMPSPassword" serializeAs="String">
                <value>IMPS4</value>
            </setting>
            <setting name="IMPSBatchPrefix" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="IMPSBatchNumber" serializeAs="String">
                <value>001</value>
            </setting>
            <setting name="phxSQLConn" serializeAs="String">
                <value />
            </setting>
            <setting name="TotalDate" serializeAs="String">
                <value>2007-10-24</value>
            </setting>
            <setting name="IMPSuccess" serializeAs="String">
                <value />
            </setting>
            <setting name="IMPDrop" serializeAs="String">
                <value />
            </setting>
            <setting name="IMPTotal" serializeAs="String">
                <value />
            </setting>
            <setting name="MediSuccess" serializeAs="String">
                <value />
            </setting>
            <setting name="MediDrop" serializeAs="String">
                <value />
            </setting>
            <setting name="MediTotal" serializeAs="String">
                <value />
            </setting>
            <setting name="MediHold" serializeAs="String">
                <value />
            </setting>
            <setting name="GUMPFileDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LOOPSOperator" serializeAs="String">
                <value>R94LUND</value>
            </setting>
            <setting name="LOOPSPassword" serializeAs="String">
                <value>123ABC</value>
            </setting>
            <setting name="FAMISOperatorID" serializeAs="String">
                <value>16A247</value>
            </setting>
            <setting name="FAMISPassword" serializeAs="String">
                <value>DELL5</value>
            </setting>
            <setting name="FAMISKeyword" serializeAs="String">
                <value>UAPSUP</value>
            </setting>
        </Phoenix___Server.My.MySettings>
    </userSettings>
</configuration>
