<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"  />
  </configSections>

  <dataConfiguration defaultDatabase="default" />
  <connectionStrings>
    <add name="default" connectionString="Data Source=172.16.8.15\Phoenix; Initial Catalog=PhoenixData; User ID=PhoenixUser; Password=password;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="None">
      
    </authentication>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
